@font-face {
  font-family: BYekan;
  src: url(/Font/BYekan.ttf);
}

@font-face {
  font-family: BNazanin;
  src: url(/Font/BNazanin.TTF);
}

body {
  position: relative;
  background-image: url(/Images/BG-Image/A-Back.jpg);
  background-position: center;
  background-attachment: fixed;
  overflow-y: scroll;
  color: gold;
}

.section-divide .base-box .right-column *, .section-divide .base-box .center-column, .section-divide .base-box img, .section-divide .base-box .left-column .details, .section-divide .base-box .links, .owl-carousel .slides:hover, .similar-movie-box .f-cards .img-box img {
  border: 1px solid white;
  border-radius: 10px;
}

.F-bg-primary {
  background-color: #1d1d1d;
}

.F-bg-secondary {
  background-color: #050505;
}

.hide-menu {
  position: fixed;
  top: 40%;
  left: calc(100% - 10px);
  border: none;
  border-left: 10px solid gold;
  border-radius: 10px;
  width: 20%;
  height: 25vh;
  font-size: 50px;
  color: aqua;
  -webkit-transition: all .8s;
  transition: all .8s;
  z-index: 100;
  cursor: pointer;
}

.hide-menu:hover {
  left: calc(100% - 100px);
  border: 1px solid gold;
}

.section-divide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 5px;
  background-color: #373737;
  border-radius: 10px;
}

.section-divide .base-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 63%;
      grid-template-columns: 10% 25% 63%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1%;
          column-gap: 1%;
}

.section-divide .base-box .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-divide .base-box .right-column div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 5px 5px darkgreen;
          box-shadow: 0 0 5px 5px darkgreen;
}

.section-divide .base-box .center-column {
  border: 1px solid white;
}

.section-divide .base-box .center-column:hover, .section-divide .base-box img:hover {
  -webkit-box-shadow: 0 0 5px 5px darkgreen;
          box-shadow: 0 0 5px 5px darkgreen;
}

.section-divide .base-box .left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 89% 10%;
      grid-template-rows: 89% 10%;
  row-gap: 1%;
}

.section-divide .base-box .left-column .details video {
  border-radius: 10px;
}

.section-divide .base-box .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-divide .base-box .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-divide .base-box .links ul a {
  display: block;
  text-align: center;
  font-size: small;
}

.f-dir {
  direction: ltr !important;
}

.owl-carousel .owl-dots {
  display: none !important;
}

.owl-carousel .slides {
  opacity: .6;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  height: 25vh;
}

.owl-carousel .slides:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  cursor: pointer;
}

.owl-carousel .slides img {
  border-radius: 10px;
}

.acters-title {
  direction: rtl;
  margin: 5px 1.2% 0;
}

.acters-title h4 {
  display: inline-block;
  vertical-align: middle;
  font-family: BYekan;
  direction: rtl;
  color: #cccccc;
}

.acters-title::before {
  content: "";
  display: inline-block;
  border-radius: 10px;
  width: 30px;
  height: 5px;
  padding: 0;
  vertical-align: middle;
  background-color: #383838;
}

.similar-movie-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
}

.similar-movie-box .similar-movie-title h3 {
  text-align: center;
  color: #cccccc;
}

.similar-movie-box .f-cards {
  text-align: center;
  text-transform: capitalize;
}

.similar-movie-box .f-cards .img-box {
  height: 25vh;
}

.f-comment-title-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 100% 100%;
      grid-template-rows: 100% 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-comment-title-box h4 {
  display: inline;
  color: white;
}

.login-line h5 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.login-line h5 i {
  color: gold;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-container .comment-box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 5%;
      grid-template-columns: 95% 5%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  margin: 0;
  padding: 10px;
  background-color: #1d1d1d;
}

.comment-container .comment-box .comments h6 {
  text-transform: capitalize;
  margin: 0 2rem;
  text-align: right;
  color: #bfbfbf;
}

.comment-container .comment-box .comments h6 > span {
  color: white;
}

.comment-container .comment-box .comments p {
  text-align: justify;
  padding: 0 4% 0 5%;
  color: gold;
}

.comment-container .comment-box .response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-container .comment-box .response .positive-response, .comment-container .comment-box .response .negative-response {
  position: relative;
}

.comment-container .comment-box .response i {
  text-align: center;
}

.comment-container .comment-box .response i:hover {
  cursor: pointer;
}

.comment-container .comment-box .response b {
  position: absolute;
  left: 150%;
}

#login-modal, #signup-modal {
  overflow-y: scroll;
}

#login-modal .fre-d-none, #signup-modal .fre-d-none {
  display: none;
}

footer .footer-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 70% 5%;
      grid-template-columns: 25% 70% 5%;
  -ms-grid-rows: 100% 100%;
      grid-template-rows: 100% 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-box .follow-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-box .follow-us i {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  right: 100%;
  text-align: center;
  text-orientation: sideways;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

footer p {
  text-align: center;
  color: gold;
  margin: 0 10%;
}
/*# sourceMappingURL=Main.css.map */