$F-border : 1px solid rgb(255, 255, 255);
$F-rounded : 10px;  
$title-color : white;
$F-text-links : small;
$F-shadow-box : 0 0 5px 5px darkgreen;
$F-right-position : 20%;
$F-bgcolor : #1d1d1d;

$F-bgprimary : #1d1d1d;
$F-bgsecondary : #050505;
// $F-txtprimary : ;
// $F-txtsecondary : ;

